<!doctype html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Expenditure</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <link rel="stylesheet" href="public/css/styles.css">
</head>

<body>

		<div class="jumbotron text-center">

			<div class="container">

				<h1 class="display-3">Expenditure for Selected Month</h1>

				<table>

					<tr>
						<th>Date</th>
						<th>Item</th>
						<th>Cost</th>
						<th>Retailer</th>
					</tr>

					<% entries.forEach(entry => { %>

					<tr>
						<td class="expenditure-text"><%=entry.date%></td>
						<td class="expenditure-text"><%=entry.item%></td>
						<td class="expenditure-text"><%=entry.cost%></td>
						<td class="expenditure-text"><%=entry.retailer%></td>
					</tr>
				
					<% }) %>

				</table>
		
				<hr>
				<a class="btn btn-light btn-lg" href="/showChart" role="button">Show Visual Chart</a>
				<a class="btn btn-dark btn-lg" href="/mainmenu" role="button">Back</a>

			</div>

		</div>

</body>

</html>