body {
  background-color: #E8ECEF;
}

.page-header {
  margin-top: 4%;
}

#transactions {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#transactions td, #transactions th {
  border: 1px solid #ddd;
  padding: 8px;
}

#transactions tr:nth-child(even){background-color: #f2f2f2;}

#transactions tr:hover {background-color: #ddd;}

#transactions th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.budget-spent {
  margin-top: 2%;
  margin-bottom: 2%;
}

.chartBox {
  margin-top: 5%;
  margin-bottom: 5%;
}

.back-btn {
  margin-bottom: 4%;
}


